.css_idrecebimento_parcial_det_label {text-align: right;vertical-align: middle;}
.css_idrecebimento_parcial_det_line {height:0px;text-align: right;}
.css_idcontas_receber_det_label {text-align: right;vertical-align: middle;}
.css_idcontas_receber_det_line {height:0px;text-align: right;}
.css_idforma_pagamento_det_label {text-align: right;vertical-align: middle;}
.css_idforma_pagamento_det_line {height:0px;text-align: right;}
.css_data_det_label {text-align: right;vertical-align: middle;}
.css_data_det_line {height:0px;text-align: right;}
.css_valor_det_label {text-align: right;vertical-align: middle;}
.css_valor_det_line {height:0px;text-align: right;}
.css_observacao_det_label {text-align: right;vertical-align: middle;}
.css_observacao_det_line {height:0px;text-align: right;}
.css_multa_det_label {text-align: right;vertical-align: middle;}
.css_multa_det_line {height:0px;text-align: right;}
.css_juros_det_label {text-align: right;vertical-align: middle;}
.css_juros_det_line {height:0px;text-align: right;}
