.css_idrecebimento_parcial_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idrecebimento_parcial_grid_line {vertical-align: top;text-align: right;}
.css_idforma_pagamento_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idforma_pagamento_grid_line {vertical-align: top;text-align: right;}
.css_data_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_data_grid_line {vertical-align: top;text-align: center;}
.css_valor_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_valor_grid_line {vertical-align: top;text-align: center;}
.css_valor_tot_ger {text-align: ;text-align: center;}
.css_multa_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_multa_grid_line {vertical-align: top;text-align: center;}
.css_juros_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_juros_grid_line {vertical-align: top;text-align: center;}
.css_observacao_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_observacao_grid_line {vertical-align: top;text-align: right;}
.css_idcontas_receber_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idcontas_receber_grid_line {vertical-align: top;text-align: right;}
.css_valor_S_tot_ger {text-align: center;}
