.scLink_default { text-decoration: none; font-size: 12px; color: #0000AA;  }
.scLink_default:visited { text-decoration: none; font-size: 12px; color: #0000AA;  }
.scLink_default:active { text-decoration: none; font-size: 12px; color: #0000AA;  }
.scLink_default:hover { text-decoration: none; font-size: 12px; color: #0000AA;  }
