.css_idforma_pagamento_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idforma_pagamento_grid_line {vertical-align: top;text-align: right;}
.css_descricao_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descricao_grid_line {vertical-align: top;text-align: right;}
.css_idconta_corrente_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idconta_corrente_grid_line {vertical-align: top;text-align: right;}
.css_idtipo_cartao_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idtipo_cartao_grid_line {vertical-align: top;text-align: right;}
.css_ativo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ativo_grid_line {vertical-align: top;text-align: right;}
