.css_idfuncionario_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idfuncionario_grid_line {vertical-align: top;text-align: left;}
.css_cpf_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cpf_grid_line {vertical-align: top;text-align: left;}
.css_nome_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nome_grid_line {vertical-align: top;text-align: left;}
.css_data_admissao_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_data_admissao_grid_line {vertical-align: top;text-align: center;}
.css_data_demissao_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_data_demissao_grid_line {vertical-align: top;text-align: center;}
