.css_numero_conta_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_numero_conta_grid_line {vertical-align: top;text-align: right;}
.css_idforma_pagamento_prevista_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idforma_pagamento_prevista_grid_line {vertical-align: top;text-align: right;}
.css_idforma_pagamento_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idforma_pagamento_grid_line {vertical-align: top;text-align: right;}
.css_data_vencimento_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_data_vencimento_grid_line {vertical-align: top;text-align: center;}
.css_valor_a_receber_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_valor_a_receber_grid_line {vertical-align: top;text-align: right;}
.css_valor_recebido_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_valor_recebido_grid_line {vertical-align: top;text-align: right;}
.css_pago_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pago_grid_line {vertical-align: top;text-align: right;}
.css_idcontas_receber_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idcontas_receber_grid_line {vertical-align: top;text-align: right;}
.css_idcliente_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idcliente_grid_line {vertical-align: top;text-align: right;}
.css_idgrupos_receitas_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idgrupos_receitas_grid_line {vertical-align: top;text-align: right;}
.css_idtipos_receitas_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idtipos_receitas_grid_line {vertical-align: top;text-align: right;}
