.css_pdv_livre_label { }
.css_pdv_livre_line {font-size:48px;color:#fff;background-color:#000033;text-align:left;}
.css_pdv_livre_obj { }
.css_cpf_na_nota_label {text-align:center;}
.css_cpf_na_nota_line {font-size:36px;color:#330000;font-weight:bold;text-align:left;}
.css_cpf_na_nota_obj { }
.css_com_cpf_label { }
.css_com_cpf_line {font-weight:normal;text-align:left;}
.css_com_cpf_obj { }
.css_sem_cpf_label { }
.css_sem_cpf_line {font-weight:normal;text-align:left;}
.css_sem_cpf_obj { }
.css_cpf_cnpj_label {font-size:20px;text-align:center;}
.css_cpf_cnpj_line {font-size:20px;text-align:left;}
.css_cpf_cnpj_obj {font-size:20px;text-align:left;}
.css_nome_label {font-size:20px;text-align:center;}
.css_nome_line {font-size:20px;text-align:left;}
.css_nome_obj {font-size:20px;text-align:left;}
.css_email_label {font-size:20px;text-align:center;}
.css_email_line {font-size:20px;text-align:left;}
.css_email_obj {font-size:20px;text-align:left;}
.css_linha1_label {font-size:48px;}
.css_linha1_line { }
.css_linha1_obj { }
.css_linha2_label { }
.css_linha2_line { }
.css_linha2_obj { }
.css_espaco1_label { }
.css_espaco1_line {width:200px;}
.css_espaco1_obj { }
.css_espaco2_label { }
.css_espaco2_line {width:50px;}
.css_espaco2_obj { }
.css_espaco3_label { }
.css_espaco3_line {width:200px;}
.css_espaco3_obj { }
.css_venda_id_label { }
.css_venda_id_line { }
.css_venda_id_obj {text-align:left;}
.css_chk_com_cpf_label { }
.css_chk_com_cpf_line { }
.css_chk_com_cpf_obj { }
.css_chk_sem_cpf_label { }
.css_chk_sem_cpf_line { }
.css_chk_sem_cpf_obj { }
