.css_referencia_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_referencia_grid_line {vertical-align: middle;text-align: right;}
.css_descricao_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_descricao_grid_line {vertical-align: middle;text-align: right;}
.css_idgrupo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idgrupo_grid_line {vertical-align: top;text-align: right;}
.css_idmarca_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idmarca_grid_line {vertical-align: top;text-align: right;}
.css_valor_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_valor_grid_line {vertical-align: middle;text-align: right;}
.css_idproduto_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idproduto_grid_line {vertical-align: top;text-align: right;}
.css_idsubgrupo_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idsubgrupo_grid_line {vertical-align: top;text-align: right;}
.css_idunidade_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idunidade_grid_line {vertical-align: top;text-align: right;}
