.SC_SubMenuApp .scBtnGrpBackground { border-collapse: collapse; opacity: 1; filter: alpha(opacity=100); padding: 0; z-index: 99999; text-align: left }
.SC_SubMenuApp .scBtnGrpText { padding: 4px 25px 4px 15px; opacity: 1; filter: alpha(opacity=100); cursor: pointer; white-space: nowrap; color: #1a1938 }
.SC_SubMenuApp .scBtnGrpTextOver { background-color: #F0F0F0; opacity: 1; filter: alpha(opacity=100) }
.SC_SubMenuApp .scBtnGrpText .disabled, .SC_SubMenuApp .scBtnGrpText:disabled { background-color: #FFFFFF; color: #3C4858; opacity: 0.4; filter: alpha(opacity=40) }
.SC_SubMenuApp .scBtnGrpLink { color: #1a1938; font-family: Arial, sans-serif; font-size: 12px; text-shadow: 12px; text-decoration: none }
.SC_SubMenuButton .scBtnGrpBackground { text-align: left }
.SC_SubMenuButton { z-index: 1000 }
.SC_SubMenuApp { z-index: 1000 }
