.css_idorcamento_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idorcamento_grid_line {vertical-align: top;text-align: right;}
.css_idcliente_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idcliente_grid_line {vertical-align: top;text-align: right;}
.css_data_venda_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_data_venda_grid_line {vertical-align: top;text-align: center;}
.css_desconto_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_desconto_grid_line {vertical-align: top;text-align: right;}
.css_valor_total_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_valor_total_grid_line {vertical-align: top;text-align: right;}
.css_status_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_status_grid_line {vertical-align: top;text-align: right;}
.css_observacao_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_observacao_grid_line {vertical-align: top;text-align: right;}
.css_valor_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_valor_grid_line {vertical-align: top;text-align: right;}
