.css_idfuncao__label { }
.css_idfuncao__line {text-align:left;}
.css_idfuncao__obj {text-align:left;}
.css_idfuncionario__label {text-align:;}
.css_idfuncionario__line {text-align:left;}
.css_idfuncionario__obj {text-align:left;}
