.css_idorcamento_label {color:#FFFFFF;}
.css_idorcamento_line {font-size:16px;color:#FFFFFF;background-color:#34495e;border-width:1px;border-color:#000000;text-align:center;vertical-align:middle;height:50px;border-style:solid;}
.css_idorcamento_obj { }
.css_idcliente_label { }
.css_idcliente_line {text-align:left;}
.css_idcliente_obj {text-align:left;}
.css_data_venda_label { }
.css_data_venda_line { }
.css_data_venda_obj { }
.css_observacao_label { }
.css_observacao_line { }
.css_observacao_obj { }
.css_status_label { }
.css_status_line { }
.css_status_obj { }
.css_valor_total_label { }
.css_valor_total_line {text-align:left;}
.css_valor_total_obj {text-align:left;}
.css_itens_orcamento_label { }
.css_itens_orcamento_line { }
.css_itens_orcamento_obj { }
.css_contas_receber_label { }
.css_contas_receber_line { }
.css_contas_receber_obj { }
