.css_nome_label { }
.css_nome_line { }
.css_nome_obj { }
.css_descricao_label { }
.css_descricao_line {width:100px;height:100px;}
.css_descricao_obj { }
.css_valor_label { }
.css_valor_line {text-align:left;}
.css_valor_obj {text-align:left;}
.css_unidade_label { }
.css_unidade_line { }
.css_unidade_obj { }
.css_tipo_label { }
.css_tipo_line { }
.css_tipo_obj { }
.css_valor_produtos_label { }
.css_valor_produtos_line {text-align:left;}
.css_valor_produtos_obj {text-align:left;}
.css_itens_pacote_label { }
.css_itens_pacote_line { }
.css_itens_pacote_obj { }
