.scProgressBarStart { background-color: #eeeeee; background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #cccccc; border-style: solid; border-width: 1px }
.scProgressBarLoading { background-color: #336699; background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse }
