.css_idrecebimento_parcial__label {text-align:;}
.css_idrecebimento_parcial__line {text-align:left;}
.css_idrecebimento_parcial__obj {text-align:left;}
.css_idforma_pagamento__label { }
.css_idforma_pagamento__line {text-align:left;}
.css_idforma_pagamento__obj {text-align:left;}
.css_data__label { }
.css_data__line { }
.css_data__obj { }
.css_valor__label { }
.css_valor__line {text-align:left;}
.css_valor__obj {text-align:left;}
.css_observacao__label { }
.css_observacao__line { }
.css_observacao__obj { }
.css_multa__label { }
.css_multa__line {text-align:left;}
.css_multa__obj {text-align:left;}
.css_juros__label { }
.css_juros__line {text-align:left;}
.css_juros__obj {text-align:left;}
