.css_iditens_orcamento__label { }
.css_iditens_orcamento__line { }
.css_iditens_orcamento__obj { }
.css_idproduto__label { }
.css_idproduto__line { }
.css_idproduto__obj { }
.css_descricao__label { }
.css_descricao__line { }
.css_descricao__obj { }
.css_valor_unitario__label { }
.css_valor_unitario__line { }
.css_valor_unitario__obj { }
.css_quantidade__label {font-size:11px;text-align:center;}
.css_quantidade__line {font-size:11px;text-align:left;}
.css_quantidade__obj {font-size:11px;text-align:left;}
.css_unidade__label {font-size:11px;text-align:center;}
.css_unidade__line {font-size:11px;}
.css_unidade__obj {font-size:11px;}
.css_valor_total__label { }
.css_valor_total__line { }
.css_valor_total__obj { }
.css_qtde__label {text-align:center;}
.css_qtde__line {text-align:center;}
.css_qtde__obj {text-align:center;}
