.css_iditens_orcamento__label {text-align:;}
.css_iditens_orcamento__line {text-align:left;}
.css_iditens_orcamento__obj {text-align:left;}
.css_idproduto__label { }
.css_idproduto__line {text-align:left;}
.css_idproduto__obj {text-align:left;}
.css_descricao__label { }
.css_descricao__line { }
.css_descricao__obj { }
.css_valor_unitario__label { }
.css_valor_unitario__line {text-align:left;}
.css_valor_unitario__obj {text-align:left;width:10px;}
.css_quantidade__label { }
.css_quantidade__line {text-align:left;}
.css_quantidade__obj {text-align:left;}
.css_valor_total__label { }
.css_valor_total__line { }
.css_valor_total__obj { }
