.css_NM_Count_cnt_field {text-align: right}
.css_contas_receber_valor_recebido_sum_label {text-align: right; vertical-align: top}
.css_contas_receber_valor_recebido_sum_field {text-align: right; vertical-align: top}
.css_itens_orcamento_valor_total_sum_label {text-align: right; vertical-align: top}
.css_itens_orcamento_valor_total_sum_field {text-align: right; vertical-align: top}
