.css_idpet_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idpet_grid_line {vertical-align: middle;text-align: center;}
.css_foto_pet_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_foto_pet_grid_line {vertical-align: middle;text-align: center;}
.css_nome_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nome_grid_line {vertical-align: middle;text-align: center;}
.css_idpet_raca_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idpet_raca_grid_line {vertical-align: middle;text-align: center;}
.css_sexo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sexo_grid_line {vertical-align: middle;text-align: center;}
.css_data_nascimento_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_data_nascimento_grid_line {vertical-align: middle;text-align: center;}
.css_idcliente_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idcliente_grid_line {vertical-align: top;text-align: right;}
