.css_idcontas_pagar_label { }
.css_idcontas_pagar_line { }
.css_idcontas_pagar_obj { }
.css_idcliente_label { }
.css_idcliente_line {text-align:left;}
.css_idcliente_obj {text-align:left;}
.css_idforma_pagamento_label { }
.css_idforma_pagamento_line {text-align:left;}
.css_idforma_pagamento_obj {text-align:left;}
.css_valor_a_pagar_label { }
.css_valor_a_pagar_line { }
.css_valor_a_pagar_obj { }
.css_pago_label { }
.css_pago_line { }
.css_pago_obj { }
.css_juros_label { }
.css_juros_line {text-align:left;}
.css_juros_obj {text-align:left;}
.css_data_vencimanto_label { }
.css_data_vencimanto_line { }
.css_data_vencimanto_obj { }
.css_data_pagamento_label { }
.css_data_pagamento_line { }
.css_data_pagamento_obj { }
.css_sc_field_0_label { }
.css_sc_field_0_line { }
.css_sc_field_0_obj {text-align:right;}
.css_pagamento_parcial_label { }
.css_pagamento_parcial_line { }
.css_pagamento_parcial_obj { }
