.scGridPage { background-color: #EFE0FF; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #404040; font-family: Tahoma, Arial, sans-serif; font-size: 12px }
.scGridBorder { background-image: none; opacity: 1; filter: alpha(opacity=100); padding: 0 }
.scGridPageLink { color: #000000 }
.scGridToolbarNav { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #8492A6; font-family: Arial, sans-serif; font-size: 15px; font-weight: bold; text-decoration: none; padding: 0 }
.scGridToolbarNavOpen { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #1FB6FF; font-family: Arial, sans-serif; font-size: 15px; font-weight: bold; text-decoration: none; border-style: none; padding: 0 }
.scGridToolbar { background-color: #E9D3FF; background-image: none; opacity: 1; filter: alpha(opacity=100); padding: 2px }
.scGridToolbarPadding { padding: 2px }
.scGridToolbarPadding > span { background-color: #E9D3FF }
.css_toolbar_obj { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.css_toolbar_obj_text { opacity: 1; filter: alpha(opacity=100); background: transparent }
.css_toolbar_obj:focus { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.css_toolbar_obj_text:focus { opacity: 1; filter: alpha(opacity=100); outline: none !important }
.css_toolbar_objWm { color: #3C4858 }
.scGridHeader { background-color: #9d74ff; background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scGridHeaderFont { color: #FFFFFF; font-family: Verdana, Arial, sans-serif; font-size: 12px }
.scGridFooter { background-color: #C2A8FF; background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scGridFooterFont { color: #FFFFFF; font-family: Verdana, Arial, sans-serif; font-size: 12px }
.scGridObjectOdd { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scGridBlockBg { background-color: #C2A8FF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-width: 1px; border-style: solid; border-top-color: #C2A8FF; border-bottom-color: #C2A8FF; border-left-color: #406080; border-right-color: #406080 }
.scGridBlockLineBg { background-color: #C2A8FF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #C2A8FF; border-width: 1px; border-style: solid }
.scGridBlockSpaceBg { background-color: #C2A8FF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #406080; border-width: 1px; border-style: solid; border-left-color: #406080; border-right-color: #406080 }
.scGridBlock { background-color: #C2A8FF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #406080; border-width: 1px; border-style: solid; color: #304060; font-family: Tahoma, Arial, sans-serif; font-size: 12px }
.scGridBlockFont { color: #304060; font-family: Tahoma, Arial, sans-serif; font-size: 12px }
.scGridBlockLink { color: #304060; text-decoration: underline }
.scGridBlockAlign { color: #304060; font-family: Tahoma, Arial, sans-serif; font-size: 12px }
.scGridTotal { background-color: #E9D3FF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #406080; border-style: solid; border-width: 1px }
.scGridTotalFont { color: #406080; font-family: Tahoma, Arial, sans-serif; font-size: 12px; font-weight: bold }
.scGridSubtotal { background-color: #E9D3FF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #406080; border-style: solid; border-width: 1px }
.scGridSubtotalFont { color: #406080; font-family: Tahoma, Arial, sans-serif; font-size: 12px; font-weight: bold }
.scGridFieldEven { background-color: #EFE0FF; background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scGridFieldEvenFont { color: #404040; font-family: Tahoma, Arial, sans-serif; font-size: 12px; padding: 4px; border-color: #406080; border-style: solid; border-width: 1px }
.scGridFieldEvenVert { background-color: #EFE0FF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #406080; border-style: solid; color: #404040; font-family: Tahoma, Arial, sans-serif; font-size: 12px; padding: 4px }
.scGridFieldEvenLink { color: #000000; text-decoration: none }
.scGridFieldEvenFont .highlight, .scGridFieldEvenVert .highlight { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #ff0000; display: inline-block }
.scGridFieldOdd { background-color: #E9D3FF; background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scGridFieldOddFont { color: #404040; font-family: Tahoma, Arial, sans-serif; font-size: 12px; padding: 4px; border-color: #406080; border-style: solid; border-width: 1px }
.scGridFieldOddFont .highlight, .scGridFieldOddVert .highlight { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #ff0000; display: inline-block }
.scGridFieldOddVert { background-color: #E9D3FF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #406080; border-style: solid; color: #404040; font-family: Tahoma, Arial, sans-serif; font-size: 12px; padding: 4px }
.scGridFieldOddLink { color: #000000; text-decoration: none }
.scGridFieldClick { box-shadow: css_grid_campo_par_box_shadow; border-color: #406080; border-style: solid; border-width: 1px }
.scInheritBg { background-color: inherit; background-image: inherit }
.scGridLabel { background-color: #EFE0FF; background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scGridLabelVert { background-color: #EFE0FF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #406080; border-style: solid; border-width: 1px; color: #000000; font-family: Verdana, Arial, sans-serif; font-size: 12px; font-weight: bold; padding: 4px }
.scGridLabelFont { color: #000000; font-family: Verdana, Arial, sans-serif; font-size: 12px; font-weight: bold; padding: 4px; border-color: #406080; border-style: solid; border-width: 1px }
scGridLabelVert:hover,.scGridLabelFont:hover { background-color: #EFE0FF; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000000; border-color: #406080; border-style: solid; border-width: 1px }
.scGridLabelVert:hover .sc-grid-order-icon,.scGridLabelFont:hover .sc-grid-order-icon { color: #000000 }
.scGridLabelVert:hover .scGridLabelLink,.scGridLabelFont:hover .scGridLabelLink { color: #000000 }
.scGridLabelLink { color: #000000; font-family: Verdana, Arial, sans-serif; font-size: 12px; font-weight: bold }
.scGridTabela { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #406080; border-style: solid; border-width: 1px; padding: 0 }
.scGridTabelaTd { padding: 0 }
.TB_overlayBG { background-color: #6e6e6e }
#TB_window { border-color: #dfdfdf; border-style: inset; border-width: 2px 2px 3px 2px; background-color: #EFE0FF }
.scBtnPassField { margin: 10px 5px }
#first_bot,#first_top,#back_bot,#back_top,#forward_bot,#forward_top,#last_bot,#last_top { margin: 0 5px }
.scGridRefinedSearchPadding { padding: 20px; background-image: none; border-width: 1px 1px 0 0 }
.scGridRefinedSearchMoldura { background-image: none; opacity: 1; filter: alpha(opacity=100); border-style: none; border-collapse: collapse }
.scGridRefinedSearchMoldura > div { margin: 0 0 20px 0 }
.scGridRefinedSearchMoldura .scAppDivToolbarInput[type=checkbox], .scGridRefinedSearchMoldura .scAppDivToolbarInput[type=radio], .scGridFilterTagListFilterInputs .scAppDivToolbarInput[type=checkbox], .scGridFilterTagListFilterInputs .scAppDivToolbarInput[type=radio], #table_dyn_search .scAppDivToolbarInput[type=checkbox], #table_dyn_search .scAppDivToolbarInput[type=radio] { height: 13px !important; position: relative; display: inline-block; top: 2px }
.scGridRefinedSearchMolduraResult { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6ED; border-style: solid; border-width: 0 1px; border-collapse: collapse; padding: 0 }
.scGridRefinedSearchToolbar { background-color: #F9FAFC; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none; border-color: #E0E6ED; border-style: solid; border-width: 1px; padding: 10px }
.scGridRefinedSearchLabel { background-color: #E0E6ED; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #c6d0dc; border-style: solid; border-width: 1px; color: #8492A6; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 8px 5px; text-decoration: none; vertical-align: middle }
.scGridRefinedSearchCampo { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #eff2f7; border-style: solid; border-width: 0 0 1px 0; padding: 8px 15px }
.scGridRefinedSearchCampoFont { color: #3C4858; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
.scGridRefinedSearchCampo:hover { background-color: #fbfbfb; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #eff2f7; border-style: solid; border-width: 0 0 1px 0; padding: 8px 15px }
.scGridRefinedSearchCampoFont:hover { color: #3C4858; font-family: Arial, sans-serif; font-size: 12px; text-decoration: underline }
.scGridRefinedSearchCampo:active { background-color: #fbfbfb; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #eff2f7; border-style: solid; border-width: 0 0 1px 0; padding: 8px 15px }
.scGridRefinedSearchCampoFont:active { color: #3C4858; font-family: Arial, sans-serif; font-size: 12px; text-decoration: underline }
.scGridRefinedSearchVejaMais { background-color: #F9FAFC; background-image: none; opacity: 1; filter: alpha(opacity=100); padding: 10px }
.scGridRefinedSearchVejaMaisFont { color: #5368A4; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none }
.ui-slider-horizontal { background-color: #E0E6ED; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #FFFFFF !important; border-style: none; border-collapse: collapse; margin: 15px auto 0 auto }
.ui-slider-horizontal > .ui-slider-range { background-color: #8492A6; background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse }
.ui-slider-horizontal > .ui-state-default { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; -moz-border-radius: 50% 50% 0; -webkit-border-radius: 50% 50% 0; border-radius: 50% 50% 0; outline: none }
.ui-slider-horizontal > .ui-state-hover { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse }
.ui-slider-horizontal > .ui-state-active { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse }
.scGridRefinedSearchRangeValues { background-image: none; opacity: 1; filter: alpha(opacity=100); padding: 4px; font-size: 12px }
.scGridRefinedSearchQuantidade { background-image: none; opacity: 1; filter: alpha(opacity=100); border-style: none; padding: 0 2px; color: #3C4858; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
.scGridRefinedSearchCollapse { text-align: right }
.scGridRefinedSearchCollapse i { background-image: none; color: #7d7d7d; margin: 10px 0; padding: 5px; border-style: solid; border-width: 0 }
.scGridRefinedSearchCollapse i:hover { cursor: pointer; background-image: none }
.scGridRefinedSearchExpand { text-align: right }
.scGridRefinedSearchExpand i { background-image: none; color: #7d7d7d; margin: 10px 0; padding: 5px; border-style: solid; border-width: 0 }
.scGridRefinedSearchExpand i:hover { cursor: pointer; background-image: none }
.scAjaxDiv { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none; border-collapse: collapse; border-style: none }
.scGridSummarySearchMoldura { background-image: none; opacity: 1; filter: alpha(opacity=100); border-style: solid; border-width: 0 0 1px 0; border-collapse: collpase; padding: 5px 10px; margin: 0 }
.scGridSummarySearchCampo { background-image: none; opacity: 1; filter: alpha(opacity=100); border-style: none; border-collapse: collapse; margin: 20px 0 }
.scGridSummarySearchLabel { background-color: #EFE0FF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #406080; border-style: solid; border-width: 0 0 1px 0; color: #000000; font-family: Verdana, Arial, sans-serif; font-size: 11px; font-weight: bold; padding: 4px; text-transform: uppercase; letter-spacing: 1px }
.scGridSummarySearchLabelclean { background-image: none; color: #000000; font-family: Verdana, Arial, sans-serif; font-size: 12px !important; font-weight: normal; letter-spacing: 0px; text-decoration: none; text-transform: capitalize; display: block; visibility: hidden }
.scGridSummarySearchLabelclean a { color: #000000; font-family: Verdana, Arial, sans-serif; font-size: 12px !important; text-transform: capitalize; font-weight: normal; text-decoration: none; letter-spacing: 0px }
.scGridSummarySearchLabelclean a:hover { text-decoration: underline }
.scGridSummarySearchObjeto { background-image: none; border-collapse: collapse; box-sizing: border-box }
.scGridSummarySearchObjeto > img { vertical-align: middle }
.scGridSummarySearchCampo:hover .scGridSummarySearchLabelclean { visibility: visible!important }
.scGridSummarySearchCleanBtn { background-image: none; opacity: 1; filter: alpha(opacity=100); border-style: none; border-collapse: collapse; margin: 20px 10px; box-sizing: css_summarysearch_btnclean_box_sizing; height: css_summarysearch_btnclean_height; line-height: css_summarysearch_btnclean_line_height }
.scGridSummaryLabel { background-color: #EFE0FF; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Verdana, Arial, sans-serif; font-size: 12px; font-weight: bold; border-color: #406080; border-style: solid; border-width: 1px; padding: 4px }
.scGridSummaryLabel:hover { background-color: #EFE0FF; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000000; border-color: #406080; border-style: solid; border-width: 1px }
.scGridSummaryTotal { background-color: #E9D3FF; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #406080; font-family: Tahoma, Arial, sans-serif; font-size: 12px; font-weight: bold; border-color: #406080; border-style: solid; border-width: 1px }
.scGridSummarySubtotal { background-color: #E9D3FF; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #406080; font-family: Tahoma, Arial, sans-serif; font-size: 12px; font-weight: bold; border-color: #406080; border-style: solid; border-width: 1px }
.scGridSummaryLineEven { background-color: #EFE0FF; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #404040; font-family: Tahoma, Arial, sans-serif; font-size: 12px; border-color: #406080; border-style: solid; border-width: 1px; padding: 4px }
.scGridSummaryLineOdd { background-color: #E9D3FF; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #404040; font-family: Tahoma, Arial, sans-serif; font-size: 12px; border-color: #406080; border-style: solid; border-width: 1px; padding: 4px }
.scGridSummaryGroupbyVisible { background-color: #C2A8FF; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #304060; font-family: Tahoma, Arial, sans-serif; font-size: 12px; border-color: #406080; border-style: solid; border-width: 1px }
.scGridSummaryGroupbyVisibleLink { color: #304060; text-decoration: underline }
.scGridSummaryGroupbyInvisible { background-color: #C2A8FF; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #BA4F4F; font-family: Tahoma, Arial, sans-serif; font-size: 12px; font-style: italic; border-color: #406080; border-style: solid; border-width: 1px }
.scGridSummaryGroupbyInvisibleDisplay { display: none }
.scGridSummaryGroupbyInvisibleLink { color: #BA4F4F; text-decoration: underline }
.scGridSummaryLine:hover .scGridSummaryLineOdd { opacity: 1; filter: alpha(opacity=100); border-color: #406080; border-style: solid; border-width: 1px }
.scGridSummaryLine:hover .scGridSummaryLineEven { opacity: 1; filter: alpha(opacity=100); border-color: #406080; border-style: solid; border-width: 1px }
.scGridSummaryLine:hover .scGridSummaryGroupbyVisible { opacity: 1; filter: alpha(opacity=100); border-color: #406080; border-style: solid; border-width: 1px }
.scGridSummaryLine:hover .scGridSummaryGroupbVisibleLink { color: #3C4858; text-decoration: underline }
.scGridSummaryLine:hover .scGridSummaryGroupbyInvisible { opacity: 1; filter: alpha(opacity=100); border-color: #406080; border-style: solid; border-width: 1px }
.scGridSummaryLine:hover .scGridSummaryGroupbyInvisibleLink { color: #3C4858; text-decoration: underline }
.scGridSummaryLine:hover .scGridSummaryGroupbyInvisible .scGridSummaryGroupbyInvisibleDisplay { display: table-cell }
.scGridSummaryLine:hover .scGridSummarySubtotal { opacity: 1; filter: alpha(opacity=100); border-color: #406080; border-style: solid; border-width: 1px }
.scGridSummaryLine:hover .scGridSummaryTotal { opacity: 1; filter: alpha(opacity=100); border-color: #406080; border-style: solid; border-width: 1px }
.scGridSummaryClickedLine { opacity: 1; filter: alpha(opacity=100); border-color: #406080; border-style: solid; border-width: 1px }
.scGridSummaryClickedGroupbyVisible { opacity: 1; filter: alpha(opacity=100); border-color: #406080; border-style: solid; border-width: 1px }
.scGridSummaryClickedGroupbyInvisible { opacity: 1; filter: alpha(opacity=100); border-color: #406080; border-style: solid; border-width: 1px }
.scGridSummaryClickedGroupbyInvisibleDisplay { display: table-cell }
.scGridSummaryClickedSubtotal { opacity: 1; filter: alpha(opacity=100); border-color: #406080; border-style: solid; border-width: 1px }
.scGridSummaryClickedTotal { opacity: 1; filter: alpha(opacity=100); border-color: #406080; border-style: solid; border-width: 1px }
.scGridSummaryGroupbySeq { vertical-align: middle }
.sc-op-fix-col-notfixed i { color: #000000 }
.sc-col-is-fixed i { color: #000000 }
.SumoSelect > .CaptionCont { background-image: none; opacity: 1; filter: alpha(opacity=100); font-size: 12px; border-width: 1px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; box-shadow: border-box }
.SumoSelect .select-all { background-color: #E9D3FF; background-image: none; opacity: 1; filter: alpha(opacity=100); font-size: 12px; font-weight: bold }
.SumoSelect .no-match { background-color: #E9D3FF; background-image: none; opacity: 1; filter: alpha(opacity=100); font-size: 12px }
.SumoSelect > .optWrapper { border-color: #406080 }
.SumoSelect > .optWrapper > .options li.opt { background-color: #E9D3FF; background-image: none; opacity: 1; filter: alpha(opacity=100); font-size: 12px }
.SumoSelect > .optWrapper > .options li.opt.selected { background-color: #EFE0FF; color: #000000 }
.SumoSelect > .optWrapper > .options li.opt:hover { background-color: #EFE0FF; color: #000000 }
.SumoSelect > .optWrapper.multiple > .MultiControls > p.btnOk { background-image: none; opacity: 1; filter: alpha(opacity=100); font-size: 12px }
.SumoSelect > .optWrapper.multiple > .MultiControls { background-image: none; color: css_summarysearch_multiselectbuttonline_color; font-family: css_summarysearch_multiselectbuttonline_font; font-size: css_summarysearch_multiselectbuttonline_font_size; text-shadow: css_summarysearch_multiselectbuttonline_text_shadow; font-weight: css_summarysearch_multiselectbuttonline_font_weight; text-decoration: css_summarysearch_multiselectbuttonline_text_decoration; vertical-align: css_summarysearch_multiselectbuttonline_vertical_align }
.SumoSelect > .optWrapper.multiple > .MultiControls > p.btnCancel { background-image: none; opacity: 1; filter: alpha(opacity=100); font-size: 12px }
.SumoSelect > .optWrapper.multiple > .options li.opt.selected span i, .SumoSelect .select-all.selected > span i { background-color: #3C4858; background-image: url(../../img/scriptcase__NM__btn__NM__scriptcase9_Rhino__NM__nm_scriptcase9_Rhino_check.png); opacity: 1; filter: alpha(opacity=100) }
.SumoSelect > .optWrapper.multiple > .options li.opt span i, .SumoSelect .select-all > span i { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.active > .scGridSummarySearchLabel { color: #2BB673 !important }
.active > .scGridSummarySearchObjeto > .SumoSelect > .CaptionCont, .active > .scGridSummarySearchObjeto > .css_toolbar_obj { border-color: #2BB673 !important }
#sc_id_class_id, #sc_id_fldord_selected select { height: 18px; line-height: 18px; padding: 0 }
.sc-ui-summ-options, .sc-ui-groupby-options { list-style-type: none; margin: 0; padding: 0 2px; min-height: 30px }
.sc-ui-summ-options li, .sc-ui-groupby-options li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 150px; height: 20px; text-align: left }
#sc-id-custom-groupby, #sc-id-custom-summ { font-size: 12px }
.sc-ui-overflow-groupby { overflow: hidden; white-space: nowrap }
.sc-ui-overflow-summ { width: 125px; overflow: hidden; white-space: nowrap; float: left }
#sc-id-chart-selection { display: none; z-index: 1000; position: absolute; padding: 3px; width: 375px; min-height: 325px; border-style: solid; border-width: 1px }
#sc-id-chart-menu-type { float: left; width: 158px }
.sc-ui-chart-types { text-align: left; background-color: #EFE0FF; margin: 0; padding: 5px; border-color: #EFE0FF; border-style: solid; border-width: 1px; color: #404040 }
.sc-ui-chart-types:hover { background-color: #EFE0FF; color: #000000; border-color: #406080; border-style: solid; border-width: 1px; cursor: pointer }
.sc-ui-chart-type-selected,.sc-ui-chart-type-selected:hover { background-color: #EFE0FF; border-color: #406080; border-width: 1px; border-style: solid; cursor: default; color: #000000 }
.sc-ui-chart-options { float: right; width: 217px; height: 100%; text-align: left; background-color: #EFE0FF }
.sc-ui-chart-option-type { border-style: solid; border-width: 2px; height: 90px; width: 90px; float: left; margin: 10px 0 0 10px; text-align: center }
.sc-ui-chart-option-type-hover:hover { border-color: #406080; cursor: pointer }
.sc-ui-sumcfg { display: none; position: absolute; border-style: solid; border-width: 1px; z-index: 1001; text-align: center; padding: 3px 5px }
.sc-ui-sumcfg label { font-weight: normal }
#sc-id-sort { display: none; position: absolute; border-style: solid; border-width: 1px; z-index: 1002; text-align: left; padding: 0 }
.sc-ui-sort-option { padding: 6px 15px; font-size: 12px }
.sc-ui-sort-option:hover { background-color: #EFEFEF }
.sc-ui-sort-option-check { height: 16px; width: 16px; vertical-align: text-bottom; margin-right: 10px }
#sc-id-sort,.sc-ui-sumcfg,#sc-id-chart-selection,#sc-id-combination-table { font-size: 12px; box-shadow: 2px 2px 3px #b0b0b0; border-color: #e6e6e6; background-color: #EFE0FF }

#id_div_interativ_search {
  position: relative;
}

.scGridRefinedSearchCollapse {
  cursor: pointer;

  position: absolute;
  top: calc(24px / 4);
  right: -14px;

  width: 24px;
  height: 24px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0 0 0 1px rgb(9 30 66 / 8%), 0 2px 4px 1px rgb(9 30 66 / 8%);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2;
  transition: all .3s ease;
}

.scGridRefinedSearchCollapse:hover {
  filter: brightness(90%);
}

.scGridRefinedSearchCollapse i {
  margin: 0;
  padding: 0;
  transition: transform .3s ease;
}

#id_div_interativ_search.is-closed .scGridRefinedSearchCollapse i {
  transform: rotate(180deg);
}
#id_div_interativ_search.is-closed{
  position: absolute;
}
#id_div_interativ_search.is-closed #id_div_interativ_search_content {
  display:none;
}
                
