.css_idfinanceiro_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idfinanceiro_grid_line {vertical-align: top;text-align: right;}
.css_idorcamento_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idorcamento_grid_line {vertical-align: top;text-align: right;}
.css_idcompra_venda_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idcompra_venda_grid_line {vertical-align: top;text-align: right;}
.css_forma_pagamento_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_forma_pagamento_grid_line {vertical-align: top;text-align: right;}
.css_valor_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_valor_grid_line {vertical-align: top;text-align: right;}
.css_data_vencimento_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_data_vencimento_grid_line {vertical-align: top;text-align: center;}
