.css_idfinanceiro_det_label {text-align: left;vertical-align: middle;}
.css_idfinanceiro_det_line {height:0px;text-align: left;}
.css_idorcamento_det_label {text-align: left;vertical-align: middle;}
.css_idorcamento_det_line {height:0px;text-align: left;}
.css_idcompra_venda_det_label {text-align: left;vertical-align: middle;}
.css_idcompra_venda_det_line {height:0px;text-align: left;}
.css_forma_pagamento_det_label {text-align: left;vertical-align: middle;}
.css_forma_pagamento_det_line {height:0px;text-align: left;}
.css_valor_det_label {text-align: left;vertical-align: middle;}
.css_valor_det_line {height:0px;text-align: left;}
.css_data_vencimento_det_label {text-align: left;vertical-align: middle;}
.css_data_vencimento_det_line {height:0px;text-align: left;}
.css_data_pagamento_det_label {text-align: left;vertical-align: middle;}
.css_data_pagamento_det_line {height:0px;text-align: left;}
.css_status_det_label {text-align: left;vertical-align: middle;}
.css_status_det_line {height:0px;text-align: left;}
.css_financeiro_tipo_det_label {text-align: left;vertical-align: middle;}
.css_financeiro_tipo_det_line {height:0px;text-align: left;}
