.css_idforma_pagamento_label { }
.css_idforma_pagamento_line {text-align:left;}
.css_idforma_pagamento_obj {text-align:left;}
.css_idconta_corrente_label { }
.css_idconta_corrente_line {text-align:left;}
.css_idconta_corrente_obj {text-align:left;}
.css_idtipo_cartao_label { }
.css_idtipo_cartao_line { }
.css_idtipo_cartao_obj { }
.css_idbandeira_cartao_label { }
.css_idbandeira_cartao_line { }
.css_idbandeira_cartao_obj { }
.css_descricao_label { }
.css_descricao_line { }
.css_descricao_obj { }
.css_taxa_de_administracao_label { }
.css_taxa_de_administracao_line { }
.css_taxa_de_administracao_obj { }
.css_taxa_de_antecipacao_label { }
.css_taxa_de_antecipacao_line { }
.css_taxa_de_antecipacao_obj { }
.css_prazo_de_recebimento_label { }
.css_prazo_de_recebimento_line { }
.css_prazo_de_recebimento_obj { }
.css_contato_label { }
.css_contato_line { }
.css_contato_obj { }
.css_telefone_contato_label { }
.css_telefone_contato_line { }
.css_telefone_contato_obj { }
.css_email_contato_label { }
.css_email_contato_line { }
.css_email_contato_obj { }
.css_ativo_label { }
.css_ativo_line { }
.css_ativo_obj { }
