.scLink_default { text-decoration: none; font-family: Arial, sans-serif; font-size: 12px; color: #000066;  }
.scLink_default:visited { text-decoration: none; font-family: Arial, sans-serif; font-size: 12px; color: #000066;  }
.scLink_default:active { text-decoration: none; font-family: Arial, sans-serif; font-size: 12px; color: #000066;  }
.scLink_default:hover { text-decoration: underline; font-family: Arial, sans-serif; font-size: 12px; color: #000066;  }
