.css_idgrupo_contas_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idgrupo_contas_grid_line {vertical-align: top;text-align: left;}
.css_descricao_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descricao_grid_line {vertical-align: top;text-align: left;}
.css_ativo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ativo_grid_line {vertical-align: top;text-align: left;}
