.css_idpacote_cliente_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idpacote_cliente_grid_line {vertical-align: top;text-align: right;}
.css_idcliente_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idcliente_grid_line {vertical-align: top;text-align: right;}
.css_idpacote_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idpacote_grid_line {vertical-align: top;text-align: right;}
.css_situacao_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_situacao_grid_line {text-align: center;}
.css_qunatidade_realizada_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_qunatidade_realizada_grid_line {vertical-align: top;text-align: right;}
.css_valor_total_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_valor_total_grid_line {vertical-align: top;text-align: right;}
.css_pago_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pago_grid_line {vertical-align: top;text-align: right;}
.css_quantidade_total_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_quantidade_total_grid_line {vertical-align: top;text-align: right;}
