.css_saldo_label { }
.css_saldo_line {text-align:left;}
.css_saldo_obj {font-size:20px;color:#339900;background-color:#FFFFFF;text-align:left;}
.css_movimentacao_caixa_diario_label { }
.css_movimentacao_caixa_diario_line { }
.css_movimentacao_caixa_diario_obj { }
.css_resumo_por_tipo_label { }
.css_resumo_por_tipo_line { }
.css_resumo_por_tipo_obj { }
