.css_idmovimentacao_estoque_label {text-align:;}
.css_idmovimentacao_estoque_line {text-align:left;}
.css_idmovimentacao_estoque_obj {text-align:left;}
.css_idproduto_label { }
.css_idproduto_line {text-align:left;}
.css_idproduto_obj {text-align:left;}
.css_movimentacao_label { }
.css_movimentacao_line {text-align:left;}
.css_movimentacao_obj {text-align:left;}
.css_tipo_label { }
.css_tipo_line { }
.css_tipo_obj { }
