.css_itens_orcamento_idproduto_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_itens_orcamento_idproduto_grid_line {vertical-align: top;text-align: left;}
.css_itens_orcamento_quantidade_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_itens_orcamento_quantidade_grid_line {vertical-align: top;text-align: right;}
.css_itens_orcamento_quantidade_sub_tot {text-align: right;}
.css_itens_orcamento_quantidade_tot_ger {text-align: right;}
.css_itens_orcamento_valor_unitario_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_itens_orcamento_valor_unitario_grid_line {vertical-align: top;text-align: right;}
.css_itens_orcamento_valor_total_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_itens_orcamento_valor_total_grid_line {vertical-align: top;text-align: right;}
.css_itens_orcamento_valor_total_sub_tot {text-align: right;}
.css_itens_orcamento_valor_total_tot_ger {text-align: right;}
.css_orcamento_idorcamento_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_orcamento_idorcamento_grid_line {vertical-align: top;text-align: right;}
.css_orcamento_idcliente_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_orcamento_idcliente_grid_line {vertical-align: top;text-align: right;}
.css_orcamento_data_venda_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_orcamento_data_venda_grid_line {vertical-align: top;text-align: center;}
.css_orcamento_observacao_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_orcamento_observacao_grid_line {vertical-align: top;text-align: left;}
.css_orcamento_status_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_orcamento_status_grid_line {vertical-align: top;text-align: left;}
.css_orcamento_valor_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_orcamento_valor_grid_line {vertical-align: top;text-align: right;}
