.css_idpet__label {text-align:;}
.css_idpet__line {text-align:left;}
.css_idpet__obj {text-align:left;}
.css_idpet_raca__label { }
.css_idpet_raca__line {text-align:left;}
.css_idpet_raca__obj {text-align:left;}
.css_idpet_especie__label { }
.css_idpet_especie__line { }
.css_idpet_especie__obj { }
.css_idpet_pelagem__label { }
.css_idpet_pelagem__line { }
.css_idpet_pelagem__obj { }
.css_nome__label { }
.css_nome__line { }
.css_nome__obj { }
.css_data_nascimento__label { }
.css_data_nascimento__line { }
.css_data_nascimento__obj { }
.css_foto_pet__label { }
.css_foto_pet__line { }
.css_foto_pet__obj {text-align:center;}
.css_sexo__label { }
.css_sexo__line { }
.css_sexo__obj { }
