.css_codigo_barras_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codigo_barras_grid_line {vertical-align: middle;text-align: left;}
.css_descricao_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_descricao_grid_line {vertical-align: middle;text-align: left;}
.css_und_comercial_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_und_comercial_grid_line {vertical-align: middle;text-align: left;}
.css_valor_venda_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_valor_venda_grid_line {vertical-align: middle;text-align: right;}
.css_imagem_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_imagem_grid_line {vertical-align: middle;text-align: center;}
