.css_idproduto_label { }
.css_idproduto_line {text-align:left;}
.css_idproduto_obj {text-align:left;}
.css_idgrupo_label { }
.css_idgrupo_line { }
.css_idgrupo_obj { }
.css_idsubgrupo_label { }
.css_idsubgrupo_line { }
.css_idsubgrupo_obj { }
.css_idmarca_label { }
.css_idmarca_line { }
.css_idmarca_obj { }
.css_idunidade_label { }
.css_idunidade_line { }
.css_idunidade_obj { }
.css_referencia_label { }
.css_referencia_line { }
.css_referencia_obj { }
.css_codigo_de_barras_label { }
.css_codigo_de_barras_line { }
.css_codigo_de_barras_obj { }
.css_descricao_label { }
.css_descricao_line { }
.css_descricao_obj { }
.css_custo_label { }
.css_custo_line {text-align:left;}
.css_custo_obj {text-align:left;}
.css_valor_label { }
.css_valor_line {text-align:left;}
.css_valor_obj {text-align:left;}
.css_estoque_minimo_label { }
.css_estoque_minimo_line { }
.css_estoque_minimo_obj { }
.css_foto_label {width:1px;height:1px;}
.css_foto_line {text-align:center;}
.css_foto_obj {text-align:center;}
.css_tipo_label { }
.css_tipo_line { }
.css_tipo_obj { }
