.css_idpacote_cliente_label { }
.css_idpacote_cliente_line {text-align:left;}
.css_idpacote_cliente_obj {text-align:left;}
.css_idpacote_label { }
.css_idpacote_line {text-align:left;}
.css_idpacote_obj {text-align:left;}
.css_idcliente_label { }
.css_idcliente_line {text-align:left;}
.css_idcliente_obj {text-align:left;}
.css_quantidade_total_label { }
.css_quantidade_total_line {text-align:left;}
.css_quantidade_total_obj {text-align:left;}
.css_qunatidade_realizada_label { }
.css_qunatidade_realizada_line {text-align:left;}
.css_qunatidade_realizada_obj {text-align:left;}
.css_valor_total_label { }
.css_valor_total_line {text-align:left;}
.css_valor_total_obj {text-align:left;}
.css_pago_label { }
.css_pago_line { }
.css_pago_obj { }
.css_itens_pacote_label { }
.css_itens_pacote_line { }
.css_itens_pacote_obj { }
