.css_idcontas_receber_label {text-align:;}
.css_idcontas_receber_line {text-align:left;}
.css_idcontas_receber_obj {text-align:left;}
.css_idcliente_label { }
.css_idcliente_line {text-align:left;}
.css_idcliente_obj {text-align:left;}
.css_idforma_pagamento_prevista_label { }
.css_idforma_pagamento_prevista_line {text-align:left;}
.css_idforma_pagamento_prevista_obj {text-align:left;}
.css_idgrupos_receitas_label { }
.css_idgrupos_receitas_line {text-align:left;}
.css_idgrupos_receitas_obj {text-align:left;}
.css_idtipos_receitas_label { }
.css_idtipos_receitas_line {text-align:left;}
.css_idtipos_receitas_obj {text-align:left;}
.css_idnota_fiscal_label {text-align:;}
.css_idnota_fiscal_line {text-align:left;}
.css_idnota_fiscal_obj {text-align:left;}
.css_data_emissao_label { }
.css_data_emissao_line { }
.css_data_emissao_obj { }
.css_data_vencimento_label { }
.css_data_vencimento_line { }
.css_data_vencimento_obj { }
.css_valor_a_receber_label { }
.css_valor_a_receber_line {text-align:left;}
.css_valor_a_receber_obj {text-align:left;}
.css_data_pagamento_label { }
.css_data_pagamento_line { }
.css_data_pagamento_obj { }
.css_pago_label { }
.css_pago_line { }
.css_pago_obj { }
.css_observacoes_label { }
.css_observacoes_line { }
.css_observacoes_obj { }
.css_competencia_label { }
.css_competencia_line { }
.css_competencia_obj { }
.css_sc_field_0_label { }
.css_sc_field_0_line { }
.css_sc_field_0_obj {text-align:left;width:7px;}
.css_sc_field_1_label { }
.css_sc_field_1_line { }
.css_sc_field_1_obj {text-align:left;width:15px;}
.css_sc_field_2_label {font-size:12px;}
.css_sc_field_2_line {font-size:12px;}
.css_sc_field_2_obj { }
.css_sc_field_3_label {font-size:12px;}
.css_sc_field_3_line {font-size:12px;}
.css_sc_field_3_obj { }
.css_sc_field_4_label {font-size:12px;}
.css_sc_field_4_line {font-size:12px;}
.css_sc_field_4_obj { }
