.css_valor_total_label { }
.css_valor_total_line { }
.css_valor_total_obj { }
.css_f2_label { }
.css_f2_line { }
.css_f2_obj { }
.css_f4_label { }
.css_f4_line { }
.css_f4_obj { }
.css_f7_label { }
.css_f7_line { }
.css_f7_obj { }
.css_f9_label { }
.css_f9_line { }
.css_f9_obj { }
.css_chk_f2_label { }
.css_chk_f2_line { }
.css_chk_f2_obj { }
.css_cod_barra_label { }
.css_cod_barra_line { }
.css_cod_barra_obj { }
.css_imagem_label { }
.css_imagem_line { }
.css_imagem_obj { }
.css_sc_field_0_label {font-weight:normal;text-align:left;vertical-align:middle;width:100px;}
.css_sc_field_0_line {vertical-align:middle;width:100px;}
.css_sc_field_0_obj {text-align:left;width:100px;}
.css_pra_pular_label {color:#FFFFFF;background-color:#FFFFFF;border-color:#FFFFFF;}
.css_pra_pular_line {color:#FFFFFF;background-color:#FFFFFF;border-color:#FFFFFF;}
.css_pra_pular_obj {color:#FFFFFF;background-color:#FFFFFF;border-color:#FFFFFF;}
.css_qtde_item_label { }
.css_qtde_item_line { }
.css_qtde_item_obj {font-size:26px;}
.css_quantidade_label {font-weight:normal;text-align:left;width:100px;}
.css_quantidade_line {font-weight:normal;width:100px;}
.css_quantidade_obj {font-weight:normal;text-align:right;width:100px;}
.css_tecla_label { }
.css_tecla_line { }
.css_tecla_obj { }
.css_nfce_detalhe_label { }
.css_nfce_detalhe_line { }
.css_nfce_detalhe_obj { }
