.css_idtipos_receitas_label { }
.css_idtipos_receitas_line {text-align:left;}
.css_idtipos_receitas_obj {text-align:left;}
.css_idgrupos_receita_label { }
.css_idgrupos_receita_line {text-align:left;}
.css_idgrupos_receita_obj {text-align:left;}
.css_descricao_label { }
.css_descricao_line { }
.css_descricao_obj { }
.css_ativo_label { }
.css_ativo_line { }
.css_ativo_obj { }
