.css_numero_conta_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_numero_conta_grid_line {vertical-align: top;text-align: left;}
.css_data_emissao_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_data_emissao_grid_line {vertical-align: top;text-align: center;}
.css_data_vencimento_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_data_vencimento_grid_line {vertical-align: top;text-align: center;}
.css_valor_a_receber_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_valor_a_receber_grid_line {vertical-align: top;text-align: right;}
.css_valor_a_receber_tot_ger {text-align: ;text-align: right;}
.css_juros_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_juros_grid_line {vertical-align: top;text-align: right;}
.css_valor_recebido_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_valor_recebido_grid_line {vertical-align: top;text-align: right;}
.css_valor_recebido_tot_ger {text-align: ;text-align: right;}
.css_idforma_pagamento_prevista_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idforma_pagamento_prevista_grid_line {vertical-align: top;text-align: left;}
.css_observacoes_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_observacoes_grid_line {vertical-align: top;text-align: left;}
.css_idcontas_receber_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idcontas_receber_grid_line {vertical-align: top;text-align: right;}
.css_idcliente_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idcliente_grid_line {vertical-align: top;text-align: right;}
.css_idforma_pagamento_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idforma_pagamento_grid_line {vertical-align: top;text-align: right;}
.css_idgrupos_receitas_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idgrupos_receitas_grid_line {vertical-align: top;text-align: right;}
.css_idtipos_receitas_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idtipos_receitas_grid_line {vertical-align: top;text-align: right;}
.css_recebimento_parcial_grid_line {text-align: center;}
.css_valor_a_receber_S_tot_ger {text-align: right;}
.css_valor_recebido_S_tot_ger {text-align: right;}
